*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.button{
    width: 350px;
    display: block;
    background: linear-gradient(50deg, #4a7ff7, #f21cea);
    padding: 20px 30px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;
}

.button:hover{
    transform: translateY(10px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}


