@font-face{
	font-family: Title;
	src: url(fonts/Ballet.ttf);
}
@font-face{
	font-family: Section;
	src: url(fonts/euro.ttf);
}
html, body{ margin: 0; padding: 0; min-height: 100%;  }
body{ font: 14px/18px Verdana; display: flex; flex-wrap: wrap; }
*{ box-sizing: border-box; }
a{ text-decoration: none; display: inline-block; color: #6a2ecb;}
a:hover{ text-decoration: underline; }

footer div:last-of-type ul li span,
h2{ display: block; font: bold 20px  Verdana; margin: 10px 0 4px 0;  }

header, footer, nav{ width: 100%; }
main, header, footer, aside{ padding: 1em 0.7em; }
header h1{ font: bold 50px/50px "Trebuchet Ms"; }
header ul, nav ul{ margin: 0; padding: 0; list-style: none; flex: 1; display: flex; }
header ul{ justify-content: flex-end; }
nav ul ul{ flex-direction: column; }

header{ background: #7d6ce8; display: flex; align-items: flex-end; padding: 2em 1em; }
header h1{ font: bold 70px Title; margin: 0; line-height: 1em;  color: #8B3146; color: white; }

nav{ margin-bottom: .5em; border-top: 6px solid #5f6ef4; box-shadow: 0 0 9px rgba(0,0,0,0.6); background: #F5F5F5}
nav > ul > li{ position: relative; width: 100px; text-align: center; }
nav > ul > li a{ display: block; padding: 1em 5px; color: purple; }
nav > ul > li a.actual{ background-color: purple; color: white; text-decoration: none;  }
nav > ul > li:hover > a:not(.actual){ background-color: #787fe6; color: white; text-decoration: none; }
nav > ul > li > ul{ font-size: 0.85em; position: absolute; left: -50px; background: #F5F5F5; border: 1px solid #ACACAC; border-top: none; width: 200px; display: none; }
nav > ul > li:hover > ul{ display: block; }
nav > ul > li > ul a:hover{ background: rgb(59, 30, 224); text-decoration: none; }

main{ flex: 1; }
aside{ width: 300px; background: #fafafa; }
main ul{ display: flex; list-style: none; margin: 0; padding: 0; flex-wrap: wrap; justify-content: space-between; }
main ul li{ width: 30%; margin-bottom: 15px; }
main ul li small{ font-family: Arial;}
main ul li img{ max-width: 100%; }
main h1{ color: silver; font: 60px Section; margin: 10px 0; text-align: center; }
main h2, aside h2{ font: bold small-caps 24px 'Trebuchet Ms'; background: #CB342E; color: white; padding: 5px; margin: 20px 0 5px 0; }

aside > * { margin-bottom: 40px; }
aside form div{ margin-bottom: 4px; overflow: auto; }
aside input{ display: block; width: 100%; border: 1px solid #AAA; padding: 4px; }
aside input[type=submit], aside input[type=button]{ width: 44%; display: inline-block; padding: 7px; float: right; }

header ul a{ background: url('icons/sprite.png') left top no-repeat; display: inline-block; width: 48px; height: 48px; overflow: hidden; text-indent: -5000px;  margin-left: 5px; border-radius: 4px; border: 1px solid #111; filter: sepia(1) brightness(0.5); }
header ul a:hover{ filter: sepia(0) brightness(1); }
header ul a[href *= facebook]{ background-position: 0px 0px; }
header ul a[href *= google]{ background-position: 0px -48px; }
header ul a[href *= instagram]{ background-position: 0px -96px;  }
header ul a[href *= linkedin]{ background-position: 0px -144px; }
header ul a[href *= pinterest]{ background-position: 0px -192px; }
header ul a[href *= snapchat]{ background-position: 0px -240px; }
header ul a[href *= tumblr]{ background-position: 0px -288px; }
header ul a[href *= twitter]{ background-position: 0px -336px; }
header ul a[href *= youtube]{ background-position: 0px -384px; }

footer{	display: flex; color: white; background: #45484d; background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); background: linear-gradient(to bottom, #45484d 0%,#000000 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); }
footer ul{ list-style: none; line-height: 1.6em; }
footer div:first-of-type{ flex: 1; }
footer div:last-of-type ul{ width: 280px; line-height: 1.32em; }
footer div img{ float: left; margin-right: 10px; height: 130px;}
footer div img + ul{ margin-left: 200px; }
footer div ul{ padding: 0; margin: 0; }
footer ul a{ font-size: 14px; line-height: 1em; color: #7B51D6; }

form div{ margin-bottom: 4px; }
form div span{ display: inline-block; width: 140px; }
form div input,
form div select,
form div textarea{ border: 1px solid silver; font: 13px/16px Arial; border-radius: 4px; padding: 8px 10px; }

form div .option_group{ margin: 0; display: inline-flex; flex-wrap: wrap; width: calc( 95% - 140px ); padding: 0; }
form div .option_group label{ margin: 0 15px 3px 0 ; border: 1px solid silver; padding: 4px 6px; border-radius: 3px; }

main form{ padding: 10px 30px }
main div input[type=text],
main div input[type=email],
main div input[type=password],
main div input[type=number],
main div input[type=date],
main div select,
main div textarea{  width: calc( 100% - 140px ); }
main div textarea{  resize: none; vertical-align:top; }

form input[type=submit],
form input[type=button],
form input[type=reset]{ padding: 8px 40px; }

form input.aligned{ margin-left: 140px;}

div.paginador{ margin: 10px 0; }
div.paginador ul{ display: flex; flex-wrap: wrap; justify-content: center; }
div.paginador ul li{ width: auto; margin: 2px; }
div.paginador ul li a{ font-size: 12px; display: block; border-radius: 3px; padding: 3px 12px; background: #ededed; }
div.paginador ul li a.actual{ background: crimson; color: white; }
div.paginador ul li a.actual:hover{ text-decoration: none; cursor: default; }

.ok,
.error,
.info,
.message,
.warning{ background: 12px center no-repeat; padding: 20px 12px 20px 50px; color: white; font: 13px/16px Arial; border-radius: 3px; margin: 10px 30px; box-shadow: 0 0 6px rgba(0,0,0,.3);  }

.message{ background-color: #646262; padding-left: 20px }
.info{ background-color: #6BC6E1; background-image: url(icons/ui-info.jpg); }
.ok, .success{ background-color: #6CBF6C; background-image: url(icons/ui-success.jpg); }
.error{ background-color: #DC6460; background-image: url(icons/ui-error.jpg); }
.warning{ background-color: #F1B560; background-image: url(icons/ui-warning.jpg); }


.buffering, .loading{ background-image: url(icons/loading.gif); background-repeat: no-repeat; background-position: 0px center; background-size: 55px;}
.buffering:not(.right), .loading:not(.right){ padding-left: 50px; }
.buffering.right, .loading.right{ background-position: right center; padding-right: 50px }

#comments img{ float: left; width: 100px; height: 130px; }
#comments p{ margin-left: 110px; font-size: 12px; }
#comments div{ overflow: auto; }
#comments .row{ display: block }
#comments .row li{ width: 100%; overflow: auto; }
#comments .row li:not(:last-child){ padding-bottom: 0.75em; margin-bottom: 0.5em; border-bottom: 1px solid grey; }
#comments .row li div{ display: flex; align-items: center; padding: 5px 0; }
#comments .row li div h3{ flex: 1; margin: 0; padding: 0; font: bold 20px/20px Verdana; }
#comments .row li div small{ font: 16px/16px 'Trebuchet Ms'; color: grey }
#comments .row li div a{ display: inline-block; width: 16px; height: 16px; background: url(icons/delete.png); text-indent: 1000px; overflow: hidden; margin-left: 15px; filter: grayscale(1); }
#comments .row li div:hover a{ filter: grayscale(0); } 
#comments form{ overflow: auto; }
#comments textarea{ width: 100%; border: 1px solid silver; font: 13px/16px Arial; border-radius: 10px; height: 200px; margin-bottom: 6px; resize: none; padding: 6px 12px; }
#comments input[type=submit]{ float: right; }

#ajax_search{ width: 100%; position: relative; overflow: visible; }
#ajax_search ul{ z-index: 5; position: absolute; left: 0; right: 0; list-style: none; margin: 0; padding: 0; max-height: 300px; overflow: auto; }
#ajax_search ul li{ padding: 0; border-bottom: 1px solid white; margin: 0;}
#ajax_search ul li a, #ajax_search ul li.empty{ background: black; display: block; padding: 6px; margin: 0; color: silver; }
#ajax_search ul li.empty{ background: darkred url(icons/exclamation.png) 6px center no-repeat; padding: 6px 12px 6px 30px; color: white; font-size: 13px; }
#ajax_search ul li a:hover{ background: #24242C; text-decoration: none; }

.center{ text-align: center; }
.center a{  display: inline-block; margin: 3px 8px; font-size: 10px; }
#categorias ul li, #categorias ul li img{ width: 100%; }

#datos > div{ overflow: auto; }
#datos > div > div{ float: left; width: calc( 100% - 320px ); }
#datos > div .profile{ float: right ; margin: -80px 0 0 0; width: 280px; text-align: center; }
#datos > div .profile > *{ max-width: 100%}
#datos > div .profile input{ display: none; }
#datos > div .profile span{ display: block; width: 100%; margin-bottom: 4px; text-align: center; }
#datos > div .profile .image_actions{ display: flex; justify-content: center; width: 250px; margin: auto; }
#datos > div .profile label{ border: 1px solid silver; padding: 7px; flex: 1; display: inline-block; cursor: pointer; font-size: 9px; line-height: 11px; }
#datos > div .profile :checked + label{ background: darkred; color: white; }
#datos > div .profile label.has_file{ background: darkgreen; color: white; }